 header {
 display: flex;
 font-size: var(--font-medium);
 justify-content: space-between;
 align-items: center;
}

header .logo-img {
 height: 35px;
 margin-right: 10px;
}

header span {
 font-size: 1.1em;
}

header nav ul {
 display: flex;
 justify-content: space-between;
 align-items: center;
}

nav {
 display: flex;
 justify-content: space-around;
 align-items: center;
}

header .logo-liga {
 display: flex;
 align-items: center;
}

.nav-links {
  display: flex;
  width: 22vh;
}

.nav-links li {
 list-style: none;
}

.nav-links a {
 text-decoration: none;
 font-weight: bold;
}

.burger {
  display: none;
  cursor: pointer;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 5px;
  transition: all 0.3s ease;
}


