:root {
  --background: #3B4252;
  --font-color: #DDDDDD;
  --font-color-secondary: #AAAAAA;
  --opacity: opacity: 55%;
  --contrast: #29ABE2;
}

/* General */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--font-color);
  font-family: 'IBM Plex Sans', sans-serif;
  text-decoration: none;
}

body {
  background-color: var(--background);
  overflow-x: hidden;
}

.body-container {
  padding-top: 3vh;
  margin: 0 auto;
  color: var(--font-color);
  max-width: 77vw;
}

section {
  height: 100vh;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

section div {
  width: 50%;
}

section h1 {
  width: 30vw;
}

#inicio,
#features {
  height: calc(100vh - 80px);
  line-height: 1.6;
}

/* Inicio */

#inicio p {
  text-align: left;
  width: 70%;
  opacity: var(--opacity);
}

#inicio button {
  border: 1.3px solid #5E81AC;
  padding: 1rem 2rem;
  background-color: transparent;
  color: #ffffff;
  font-family: sans-serif;
  cursor: pointer;
  margin-top: 20px;
}

.inicio-terminal:nth-child(2) {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;
}

.terminal-1,
.terminal-3 {
  margin-left: 191px;
}

.terminal-2 {
  margin-left: 100px;
}

.terminal-menu {
  width: 400px;
  height: 30px;
  background-color: transparent;
  border: 1px solid #707070;
  margin: 0 auto;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.terminal-icon {
  height: 16px;
  width: 16px;
  position: relative;
  top: 5px;
  left: 20px;
  display: inline-block;
  content: url(/src/img/feature-menu.svg);
}

.inicio-screen {
  background-color: transparent;
  border: 1px solid #707070;
  width: 400px;
  margin: 0 auto;
  padding: 20px;
  border-top: none;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.inicio-terminal p {
  position: relative;
  text-align: left;
  white-space: normal;
  width: 0;
}

.terminal {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 600px;
  height: 450px;
  background: #292E39;
  border-radius: 5px;
}

.prompt {
  color: #5F5F5E;
}

.commandline {
  position: absolute;
  display: flex;
  top: 40px;
  width: 100%;
  height: 15%;
  padding: 15px;
  color: #EFEFF2;
}

.blink {
  display: inline;
  margin-left: 3px;
  width: 10px;
  height: 25px;
  background: #EFEFF2;
  transition: all 0.35s;
  animation: blinking 1s infinite;
}


@keyframes blinking {
  0% {
    opacity: 0;
  }

  40% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  90% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

/* Features */

#features h1,
p {
  text-align: right;
}

#features .txt-feat p {
  padding-left: 34%;
  text-align: right;
  color: var(--font-color-secondary)
}

.features-menu {
  width: 551px;
  box-sizing: border-box;
  height: 38px;
  border: 1px solid #DDDDDD;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.features-button {
  content: url(/src/img/feature-menu.svg);
  height: 18px;
  width: 18px;
  position: relative;
  top: 10px;
  left: 14px;
  display: inline-block;
}

.features-icons {
  width: 100%;
  margin: 64% 33% 0 42%;
}

.features-screen {
  display: grid;
  grid-auto-flow: column;
  width: 551px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border: 1px solid #DDDDDD;
  border-top: 0px;
}

.features-icons ul li {
  list-style-type: none;
  flex-direction: column;
  margin-bottom: 25px;
}

.features-icons img {
  height: 36px;
  width: 36px;
}

.feature-text {
  width: 95%;
  padding: 10%;
  margin-left: 5%;
  align-items: center;
  display: grid;
  justify-items: center;
  background-color: rgb(66, 66, 66);
  border: 1px solid #DDDDDD;
  border-top: 0px;
  border-bottom: 0px;
  border-right: 0px;
  border-bottom-right-radius: 10px;
}

.feature-text p {
  text-align: left;
  padding: 5% 5%;
}

.feature-container {
  display: contents;
}

.feature-text:not(:first-child) {
  display: none;
}

/* Projects */
#projects {
    height: calc(73vh - 80px);
    line-height: 1.6;
}

#projects p {
  text-align: left;
  padding-right: 34%;
}

.box-projects {
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  grid-gap: 115px;
}

@media only screen and (max-width: 680px) {
  .box-projects {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
  }
}

.item a {
  text-decoration: none;
  color: navy;
}

.item {
  background: #fff;
  height: 200px;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}
 
.img-responsive {
  width: 100%;
  height: auto;
  margin-top: 4px;
}

  
/* Media Query */

@media screen and (min-width:1024px){

  #inicio {
    height: calc(100vh - 100px);
}

  #features {
    height: calc(98vh - 100px);
}

  .terminal-menu {
    width: 250px;
  }

  .inicio-screen {
    width: 250px;
  }

  .features-menu {
    width: 457px;
  }

  .features-screen {
    width: 457px;
  }

  .item {
    height: 160px;
    width: 160px;
  }
}

@media screen and (max-width:768px){
  
/* 
  .body-container {
    max-width: 565px;
    padding-top: 32px;
  }

  section h1 {
    width: 37vw;
  }

  #inicio {
    height: calc(90vh - 100px);
  }

  #inicio p {
    width: 100%;
    font-size: 0.9em;
  }

  .terminal-1, .terminal-3 {
    margin-left: 33px;
  }

  .terminal-2 {
    margin-left: 0px;
  }

  .features-menu {
    width: 283px;
  }

  .features-screen {
    width: 283px;
    height: 341px;
  }

  .features-icons img {
    height: 32px;
    width: 32px;
  }

  .feature-text {
    width: 90%;
    height: 340px;
    margin-left: 10%;
  }

  .feature-text p {
    font-size: 0.9em;
}

  .box-projects {
    grid-gap: 0px;
  }

  .item {
    height: 122px;
    width: 122px;
  } */

}

@media only screen and (max-width: 600px) {
  section div {
    width: 100%
  }
}

